# --------------------------------------
# dbt
# --------------------------------------
target/
dbt_packages/
logs/
profiles.yml

# --------------------------------------
# Dagster
# --------------------------------------
.dagster/
dagster.yaml

# --------------------------------------
# Python
# --------------------------------------
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
venv/

# --------------------------------------
# OS / Editor
# --------------------------------------
.DS_Store
.vscode/
.idea/

# --------------------------------------
# Data & Credentials
# --------------------------------------
*.key
*.pem
*.p12
*.env
*.json

# --------------------------------------
# Logs
# --------------------------------------
*.log
